.modal {
  padding: 24px 32px 32px;
  display: none;
  width: 100%;
  max-width: 1030px;
  flex-shrink: 0;
  color: #fff;
  background: #2d2e3c;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    padding: 12px 10px 16px;
  }

  &__header {
    margin-bottom: 30px;
    padding-right: 32px;
    display: flex;
    align-items: center;

    &--squares {

      &:before {
        margin-right: 14px;
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        content: '';
        background: url(../img/icon-squares.svg) no-repeat center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__btns {
    margin-top: auto;

    .btn {
      margin-right: 16px;
    }
  }

  &--sm {
    max-width: 590px;
  }

  &--lg {
    min-height: 730px;

    @include media-breakpoint-down(sm) {
      min-height: 0;
    }
  }
}
