mixin modal(data)
  .modal&attributes(attributes)
    
    if data.type == 'account'
      .modal__header.modal__header--squares
        h3.md.mb-0 Add account OKX
      .modal__content
        .steps
          .steps__header
            a.steps__item.steps__item--active(href="#")
              .steps__item-number step 1
              .steps__item-content
                p.mb-0 Create account
            a.steps__item(href="#")
              .steps__item-number step 2
              .steps__item-content
                p.mb-0 Create API-key
            a.steps__item(href="#")
              .steps__item-number step 3
              .steps__item-content
                p.mb-0 Enter data
          .steps__content
            .steps__content-item.steps__content-item--active
              .row
                .col-md-8
                  .steps__content-item-inner
                    h2.xs.mb-10 Create Account
                    p.md.text-light Open 
                      a(href="#") OKX register page 
                      | and create an account.
                    p.md.text-light Don’t forget to enable two-factor authentication at the end of your registration process. It’s a mandatory requirement for API key creation.
                .col-md-4
                  .steps__content-item-inner
                    h3.mb-10 Subaccount 
                    p.text-light To maximize copy trading effectiveness, we recommend using a subaccount dedicated to one particular strategy. You should not do any other trading activity on this subaccount.
              .modal__btns
                a.btn.btn-outline-primary(href="#" data-fancybox-close) Close
                a.btn.btn-primary.steps__next(href="#") Next
            .steps__content-item
              .row
                .col-md-8
                  .steps__content-item-inner
                    h2.xs.mb-10 Create API Key
                    p.md.text-light.mb-0 1. Go to API control page on your exchange account.
                    p.md.text-light.mb-0 2. Create a new API key. Pay attention that you need a V5 API key.
                    p.md.text-light 3. Set “Read” and “Trade” permissions.
                    p.text-primary For the security reasons, we don’t accept API keys with “Withdraw” permission enabled.
                .col-md-4
                  .steps__content-item-inner
                    h3.mb-10 API Key Permissions
                    p.text-light In order to copy trade on Coinmatics, you only need “Read” and “Trade” permissions enabled.
                    h3.mb-10 Password
                    p.text-light Keep in mind that a password is only shown during the API key creation process. It will be hidden afterwards. Safely save it at this step to be able to use this API key later.
                    h3.mb-10 API Key for Subaccount
                    p.text-light Note that you can create an API key specifically for your subaccount. 
                      a(href="#") Learn more
              .modal__btns
                a.btn.btn-outline-primary.steps__prev(href="#") Back
                a.btn.btn-primary.steps__next(href="#") Next
            .steps__content-item
              .row
                .col-md-8
                  .steps__content-item-inner
                    h2.xs.mb-10 Enter Your Key
                    form.form(action="#", method="POST")
                      .form__item
                        .form-label Name your account
                        input.input.form-control(type="text", placeholder="Enter name")
                      .form__item.form__item--hiding
                        .form-label API-key
                        input.input.form-control(type="password", placeholder="Enter Api Key")
                        a.form__item-visible(href="#")
                      .form__item.form__item--hiding
                        .form-label Secret key
                        input.input.form-control(type="password", placeholder="Enter Secret key")
                        a.form__item-visible(href="#")
                      .form__item.form__item--hiding
                        .form-label Password
                        input.input.form-control(type="password", placeholder="Enter Password")
                        a.form__item-visible(href="#")
                      +alert({
                        class: 'error'
                      }).alert-error.mb-40
                        p.md.fw-bold.mb-0 Error
                        p.md.mb-0 Access error. Check the correctness of the entered data.
                      .modal__btns
                        a.btn.btn-outline-primary.steps__prev(href="#") Back
                        button.btn.btn-primary(type="submit") Add account
                .col-md-4
                  .steps__content-item-inner
                    h3.mb-10 “Withdraw” Permission 
                    p.text-light For the security reasons, we don’t accept API key with “Withdraw” permission enabled. Disable it by clicking on “Modify” button, or create another API key.
                    h3.mb-10 API Key & Secret Key
                    p.text-light You can find details about API key and secret key in the Key Settings. Open settings by clicking on the “View” button.
    
    else if data.type == 'username'
      .modal__header
        h3.md.mb-0 Change Username
      .modal__content
        form.form(action="#", method="POST")
          .form__item
            .form-label New Username
            input.input.form-control(type="text", placeholder="Enter username")
            .form__item-comment Use 3 to 40 lowercase Latin letters, numbers, and underscores.
          .modal__btns
            a.btn.btn-outline-primary(href="#" data-fancybox-close) Close
            button.btn.btn-primary(type="submit") Change
    
    else if data.type == 'password'
      .modal__header
        h3.md.mb-0 Change Password
      .modal__content
        form.form(action="#", method="POST")
          .form__item
            .form-label Current Password
            input.input.form-control(type="password")
          .form__item
            .form-label New Password
            input.input.form-control(type="password")
            .form__item-comment Use 3 to 40 lowercase Latin letters, numbers, and uUse 6 to 64 characters. Include Latin letters, at least 1 number or 1 special symbol, and 1 uppercase.nderscores.
          .modal__btns
            a.btn.btn-outline-primary(href="#" data-fancybox-close) Close
            button.btn.btn-primary(type="submit") Change