.table {
  font-size: 14px;
  color: #d4d9e0;

  &__row {
    display: flex;
    border-bottom: 1px solid #2d2e3c;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    &--header {
      background: #2d2e3c;
      border-radius: 8px;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      .table__item {
        padding: 8px 16px;
        font-size: 12px;
        line-height: 1;
        color: #6c757d;
      }
    }
  }

  &__item {
    padding: 9.5px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      width: 33.33% !important;
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(md) {
      padding: 8px;
      width: 50% !important;
    }

    &:before {
      margin-bottom: 5px;
      display: none;
      opacity: .5;
      font-size: 12px;
      content: attr(data-header);
      color: #fff;

      @include media-breakpoint-down(lg) {
        display: block;
      }
    }

    &--text-md {
      font-size: 16px;

      @include media-breakpoint-down(xl) {
        font-size: 14px;
      }
    }

    &--right {
      justify-content: flex-end;
      text-align: right;

      @include media-breakpoint-down(lg) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  &__wrap {
    margin-bottom: -4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item-type {
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #d4d9e0;
    border: 1px solid $secondary;
    border-radius: 4px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 4px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-profit {
    margin-right: 24px;

    &--up {
      color: $secondary;
    }
  }

  &__graph {
    width: 110px;
    height: 30px;
  }

  .currency__icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .currency__title {
    color: #d4d9e0;
  }

  &--accounts {

    .table__item {

      &:nth-child(1) {
        width: 15%;

        @include media-breakpoint-down(xl) {
          width: 10%;
        }
      }

      &:nth-child(2) {
        width: 10%;
      }

      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 15%;

        @include media-breakpoint-down(xl) {
          width: 20%;
        }
      }

      &:nth-child(6) {
        width: 15%;
      }

      &:nth-child(7) {
        width: 20%;
      }
    }
  }

  &--session {

    .table__item {

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 10%;

        @include media-breakpoint-down(xl) {
          width: 15%;
        }
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 20%;

        @include media-breakpoint-down(xl) {
          width: 15%;
        }
      }

      &:nth-child(5) {
        width: 20%;
      }

      &:nth-child(6) {
        width: 15%;
      }
    }
  }
}
