mixin table(data)
  .table&attributes(attributes)
    
    if data.type == 'connect'
      +table__row({
        content: [
          ['text', 'Account', 'table__item--header'], 
          ['text', 'Status', 'table__item--header'], 
          ['text', 'Exchange', 'table__item--header'], 
          ['text', 'APIkey', 'table__item--header'], 
          ['text', 'Type of trade', 'table__item--header'], 
          ['text', 'Balance', 'table__item--right table__item--header'], 
          ['text', 'Profit', 'table__item--right table__item--header']
        ]
      }).table__row--header
      +table__row({
        content: [
          ['text', 'Tihonishe', 'table__item--text-md', 'Account'],
          ['text', 'Active', 'text-secondary', 'Status'],
          ['currency', ['binance', 'Binance', 'currency--md'], '', 'Exchange'],
          ['text', '456a4sd65...', '', 'APIkey'],
          ['type', ['Spot', 'BTC-USDT'], '', 'Type of trade'],
          ['text', '0.00315 BTC', 'table__item--right', 'Balance'],
          ['profit-up', '+0.47%', 'text-secondary table__item--right', 'Profit']
        ]
      })
      +table__row({
        content: [
          ['text', 'Tihonishe', 'table__item--text-md', 'Account'],
          ['text', 'Disabled', 'text-tertiary', 'Status'],
          ['currency', ['binance', 'Binance', 'currency--md'], '', 'Exchange'],
          ['text', '456a4sd65...', '', 'APIkey'],
          ['type', ['Spot', 'BTC-USDT'], '', 'Type of trade'],
          ['text', '0.00315 BTC', 'table__item--right', 'Balance'],
          ['profit-up', '+0.47%', 'text-secondary table__item--right', 'Profit']
        ]
      })
      +table__row({
        content: [
          ['text', 'Tihonishe', 'table__item--text-md', 'Account'],
          ['text', 'Active', 'text-secondary', 'Status'],
          ['currency', ['binance', 'Binance', 'currency--md'], '', 'Exchange'],
          ['text', '456a4sd65...', '', 'APIkey'],
          ['type', ['Spot', 'BTC-USDT'], '', 'Type of trade'],
          ['text', '0.00315 BTC', 'table__item--right', 'Balance'],
          ['profit-up', '+0.47%', 'text-secondary table__item--right', 'Profit']
        ]
      })
      +table__row({
        content: [
          ['text', 'Tihonishe', 'table__item--text-md', 'Account'],
          ['text', 'Active', 'text-secondary', 'Status'],
          ['currency', ['binance', 'Binance', 'currency--md'], '', 'Exchange'],
          ['text', '456a4sd65...', '', 'APIkey'],
          ['type', ['Spot', 'BTC-USDT'], '', 'Type of trade'],
          ['text', '0.00315 BTC', 'table__item--right', 'Balance'],
          ['profit-up', '+0.47%', 'text-secondary table__item--right', 'Profit']
        ]
      })
    
    else if data.type == 'session'
      +table__row({
        content: [
          ['text', 'Browser', 'table__item--header'], 
          ['text', 'OS', 'table__item--header'], 
          ['text', 'IP', 'table__item--header'], 
          ['text', 'Type of trade', 'table__item--header'], 
          ['text', 'Last activity', 'table__item--right table__item--header'], 
          ['text', 'First Entrance', 'table__item--right table__item--header']
        ]
      }).table__row--header
      +table__row({
        content: [
          ['browser', ['Yandex', '22.4.2.2022'], 'table__item--text-md', 'Browser'],
          ['os', ['windows.svg', 'Windows'], '', 'OS'],
          ['text', '125.123.255.124', '', 'IP'],
          ['type', '', '', 'Type of trade'],
          ['text', '21 sep 2022 13:38:25', 'table__item--right', 'Last activity'],
          ['text', '21 sep 2022 13:38:25', 'text-gray table__item--right', 'First Entrance']
        ]
      })
      +table__row({
        content: [
          ['browser', ['Yandex', '22.4.2.2022'], 'table__item--text-md', 'Browser'],
          ['os', ['windows.svg', 'Windows'], '', 'OS'],
          ['text', '125.123.255.124', '', 'IP'],
          ['type', '', '', 'Type of trade'],
          ['text', '21 sep 2022 13:38:25', 'table__item--right', 'Last activity'],
          ['text', '21 sep 2022 13:38:25', 'text-gray table__item--right', 'First Entrance']
        ]
      })
      +table__row({
        content: [
          ['browser', ['Yandex', '22.4.2.2022'], 'table__item--text-md', 'Browser'],
          ['os', ['windows.svg', 'Windows'], '', 'OS'],
          ['text', '125.123.255.124', '', 'IP'],
          ['type', '', '', 'Type of trade'],
          ['text', '21 sep 2022 13:38:25', 'table__item--right', 'Last activity'],
          ['text', '21 sep 2022 13:38:25', 'text-gray table__item--right', 'First Entrance']
        ]
      })
      
      

mixin table__row(data)
  .table__row&attributes(attributes)
    each item in data.content
      if item[0] == 'currency'
        .table__item(data-header=item[3])
          +currency({
            icon: item[1][0],
            title: item[1][1]
          })(class=item[1][2])
      else if item[0] == 'type'
        .table__item(data-header=item[3])
          .table__wrap
            each content in item[1]
              .table__item-type= content
      else if item[0] == 'profit-up'
        .table__item.table__item--right(data-header=item[3])
          .table__wrap
            .table__item-profit.table__item-profit--up= item[1]
            +graph({
              class: item[0]
            }).table__graph
      else if item[0] == 'browser'
        .table__item(data-header=item[3])
          div
            p.mb-0= item[1][0]
            p.sm.text-gray.mb-0= item[1][1]
      else if item[0] == 'os'
        .table__item(data-header=item[3])
          +object({
            icon: item[1][0],
            title: item[1][1]
          })
      else
        .table__item(class=item[2], data-header=item[3])= item[1]