mixin visible(data)
  .visible&attributes(attributes)
    .visible__header View on Page: 
    .visible__select
      select
        option(selected) 10
        option 20
        option 30
        option 40
        option 50