.visible {
  display: flex;
  align-items: center;

  &__header {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: $gray;
  }

  &__select {

    select {
      padding: 0 14px 0 4px;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      color: #d4d9e0;
      background: transparent url(../img/visible-arrow.svg) no-repeat right center;
      border: 0;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      cursor: pointer;

      option {
        color: $dark;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
