h1,
.h1 {
}

h2,
.h2 {
  font-size: 35px;
  line-height: 1.49;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }

  &.xs {
    font-size: 28px;
    line-height: 1.5;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;

  &.md {
    font-size: 24.5px;
    line-height: 1.4;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;

  &.md {
    font-size: 16px;
    line-height: 1.4;
  }

  &.sm {
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: $secondary;
  }
}

.fw-thin {
  font-weight: 100;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

.text-gray {
  color: $gray;
}

.text-grey {
  color: #6c757d;
}

.text-tertiary {
  color: $tertiary;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {

  &:focus {
    outline: none !important;
  }
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
