.section-btn {
  position: relative;
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin-right: 24px;
    display: flex;
    width: auto;
    align-items: center;
    flex-shrink: 0;
  }

  &:nth-child(n + 2) {
    margin-top: 24px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  &:hover {

    .section-btn__submenu {
      opacity: 1;
      pointer-events: all;

      @include media-breakpoint-down(md) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
    text-decoration: none;

    @include transition;

    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    margin-bottom: 15px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);

    @include media-breakpoint-down(sm) {
      margin-right: 6px;
      margin-bottom: 0;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  &__icon-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
  }

  &__submenu {
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);

    @include transition;

    @include media-breakpoint-down(sm) {
      position: static;
      display: none;
      align-items: center;
      opacity: 1;
      pointer-events: all;
      transform: none;
    }
  }

  &__submenu-item {
    padding: 9px 15px 9px 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: #0d0d11;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-left: 16px;
      padding: 0;
      height: 16px;
      background: transparent;
    }

    &:first-child {
      border-radius: 8px 8px 0 0;
    }

    &:last-child {
      border-radius: 0 0 8px 8px;
    }

    &--active {
      color: $primary;

      @include media-breakpoint-down(sm) {
        color: rgba(#fff, .5);
      }

      .section-btn__submenu-item-icon {
        filter: grayscale(0);
      }
    }
  }

  &__submenu-item-icon {
    margin-right: 8px;
    width: 12px;
    height: 12px;
    filter: grayscale(1);

    @include media-breakpoint-down(sm) {
      display: none;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__submenu-item-title {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;

    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
  }

  &--active {
    opacity: 1;

    .section-btn__content {
      opacity: 1;
    }

    .section-btn__icon {
      filter: none;
    }
  }
}
