mixin section-btn(data)
  .section-btn&attributes(attributes)
    a.section-btn__content(href="#")
      .section-btn__icon
        img.section-btn__icon-img(src="./img/section-" + data.item + '.svg', alt)
      .section-btn__title= data.item
    if data.item == 'accounts'
      .section-btn__submenu
        a.section-btn__submenu-item.section-btn__submenu-item--active(href="#")
          .section-btn__submenu-item-icon
            img(src="./img/section-accounts.svg", alt)
          span.section-btn__submenu-item-title Exchange accounts
        a.section-btn__submenu-item(href="#")
          .section-btn__submenu-item-icon
            img(src="./img/section-accounts.svg", alt)
          span.section-btn__submenu-item-title Telegram accounts
