/* Bootstrap */

.container-fluid {
  padding-right: 24px;
  padding-left: 24px;

  @include media-breakpoint-down(lg) {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.btn {
  padding: 8.8px 15.2px 6.8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;

  &.btn-primary {
    color: #18181e;
  }

  &.btn-outline-primary {
    color: #fff;

    &:hover {
      color: $dark;
    }
  }
}

.alert {
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
    width: 1em;
    height: 1em;
    fill: currentcolor;
    flex-shrink: 0;
  }

  &-info {
  }

  &-success {
  }

  &-warning {
  }

  &-error {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: .625rem;
    --bs-alert-padding-y: .625rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: .375rem;

    position: relative;
    margin-bottom: var(--bs-alert-margin-bottom);
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
  }
}

.btn-close {

  &:focus {
    box-shadow: none;
  }
}

/* Fancybox */

.fancybox__content > .carousel__button.is-close {
  top: 27px;
  right: 32px;
  width: 28px;
  height: 28px;
  background: #1d1e28 url(../img/close.svg) no-repeat center;

  @include transition;

  &:hover {
    opacity: .7;
  }

  @include media-breakpoint-down(sm) {
    top: 12px;
    right: 12px;
  }

  svg {
    display: none;
  }
}

.fancybox__backdrop {
  background: rgba(#0d0d11, .89);
}
