.steps {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {
    position: relative;
    display: flex;
    border-bottom: 1px solid #616161;
  }

  &__item {
    position: relative;
    margin-right: 40px;
    padding: 8px 0;
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background: transparent;
    }

    &--active {

      .steps__item-number {
        color: #fff;
      }

      .steps__item-content p {
        color: $secondary;
      }

      &:after {
        background: $secondary;
      }
    }
  }

  &__item-number {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 600;
    color: #616161;
  }

  &__item-content {

    p {
      color: #d4d9e0;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content-item {
    padding-top: 24px;
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__content-item-inner {
    padding-right: 40px;
    display: flex;
    min-height: 100%;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
}
