.pagination {
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }

  &__item {
    margin-right: 8px;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    color: #d4d9e0;
    border: 1px solid $gray;
    border-radius: 8px;

    @include transition;

    &:hover {
      opacity: .7;
      color: #fff;
    }

    &--active {
      border-color: $secondary;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(61, 138, 255, .1);
    border: 0;

    &:before {
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      background: url(../img/pagination-arrow.svg) no-repeat center;
    }

    &--prev {

      &:before {
        transform: rotate(180deg);
      }
    }

    &--next {
    }
  }
}
