mixin pagination(data)
  .pagination&attributes(attributes)
    a.pagination__item.pagination__arrow.pagination__arrow--prev(href="#")
    a.pagination__item.pagination__item--active(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 12
    a.pagination__item.pagination__arrow.pagination__arrow--next(href="#")