
include ../blocks/header/header.pug
include ../blocks/aside/aside.pug
include ../blocks/graph/graph.pug
include ../blocks/section-btn/section-btn.pug
include ../blocks/rate/rate.pug
include ../blocks/currency/currency.pug
include ../blocks/logo/logo.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/content/content.pug
include ../blocks/strategy/strategy.pug
include ../blocks/table/table.pug
include ../blocks/pagination/pagination.pug
include ../blocks/verification/verification.pug
include ../blocks/filter/filter.pug
include ../blocks/back/back.pug
include ../blocks/stat/stat.pug
include ../blocks/details/details.pug
include ../blocks/position/position.pug
include ../blocks/pair/pair.pug
include ../blocks/range/range.pug
include ../blocks/feature/feature.pug
include ../blocks/card/card.pug
include ../blocks/visible/visible.pug
include ../blocks/modal/modal.pug
include ../blocks/circle/circle.pug
include ../blocks/column/column.pug
include ../blocks/accounts-bar/accounts-bar.pug
include ../blocks/chart/chart.pug
include ../blocks/section/section.pug
include ../blocks/stack/stack.pug
include ../blocks/select/select.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/info/info.pug
include ../blocks/board/board.pug
include ../blocks/steps/steps.pug
include ../blocks/alert/alert.pug

include ../blocks/item/item.pug
include ../blocks/object/object.pug