.currency {
  margin-bottom: 1px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 4px;
    display: flex;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__icon-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #b5b8bd;
  }
}
