mixin currency(data)
  .currency&attributes(attributes)
    if data.icon
      .currency__icon
        img.currency__icon-img(src="./img/currency-" + data.icon + '.svg', alt)
    .currency__title= data.title
    
