.input {
  padding: 0 16px;
  height: 40px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;

  color: #fff;
  background: $dark;
  border: 0;
  border-radius: 8px;
  caret-color: #fff;

  @include placeholder(#616161);

  &:focus {
    color: #fff;
    background: $dark;
    border: 0;
    outline: none !important;
    box-shadow: none;
  }
}
