.alert {
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;

  svg {
    margin-top: 4px;
    margin-right: 8px;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    fill: currentcolor;
  }

  &-info {
  }

  &-success {
  }

  &-warning {
  }

  &-error {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: .625rem;
    --bs-alert-padding-y: .625rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: .375rem;

    position: relative;
    margin-bottom: var(--bs-alert-margin-bottom);
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    color: var(--bs-alert-color);
    background-color: rgba(220, 53, 69, .7);
    border: 0;
    border-radius: var(--bs-alert-border-radius);
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;

    div,
    p {
      color: #d4d9e0;
    }
  }
}

.btn-close {

  &:focus {
    box-shadow: none;
  }
}
