.section {
  padding: 17px 24px;
  width: 100%;
  background: #2d2e3c;
  border-radius: 8px;

  @include media-breakpoint-down(xl) {
    padding: 10px 12px;
  }

  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__header-link {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    color: $secondary;

    @include transition;
  }

  &--lg {
    padding: 32px;

    @include media-breakpoint-down(xl) {
      padding: 10px 12px;
    }
  }
}
