mixin board(data)
  .board&attributes(attributes)
    .board__left
      if data.type == 'empty'
        p.md.board__header You don't have any accounts connected yet <br>
          span.fw-normal Instruction manual
      else if data.type == 'active'
        p.md.board__header Active Accounts 
          span.text-secondary 12
        .board__stats
          .board__stats-item
            .board__stats-header Active
            .board__stats-content 10
          .board__stats-item
            .board__stats-header Disabled
            .board__stats-content 7
    .board__right
      a.btn.btn-primary(href="#account" data-fancybox) Add account
