.board {
  padding: 17px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      92.55deg,
      rgba(251, 208, 108, .69) -26.41%,
      rgba(21, 21, 27, .22) 18.75%
    ),
    #2d2e3b;
  border-radius: 8px;

  @include media-breakpoint-down(md) {
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__header {
    margin-right: 16px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__stats {
    padding: 8px;
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 6px;
  }

  &__stats-item {
    margin-right: 24px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__stats-header {
    margin-right: 10px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: $gray;
  }

  &__stats-content {
    font-size: 13px;
    line-height: 1.4;
  }

  &__right {
    margin-left: 10px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
}
