mixin info(data)
  .info&attributes(attributes)
    .info__title= data.title
    .info__content
      if data.currency
        +currency({
          icon: data.currency.icon,
          title: data.currency.title
        }).currency--sm.currency--bright
      else
        |#{data.content}