.chart {
  padding: 20px 24px 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(111.12deg, #20314f 0%, #14141b 16.45%);
  border-radius: 8px;

  @include media-breakpoint-down(xl) {
    padding: 10px 12px 0;
  }

  &__header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-left {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__type {
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    color: $light;
  }

  &__header-right {
    padding-top: 5px;
    display: flex;
    align-items: flex-start;
  }

  &__change {
    margin-right: 24px;
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__change-header {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #6c757d;
  }

  &__change-content {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;

    &--up {
      color: $secondary;
    }

    &--down {
      color: $tertiary;
    }
  }

  &__controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__controls-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__periods {
    display: flex;
    align-items: center;
  }

  &__periods-item {
    margin-right: 16px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: none;
    color: $gray;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-right: 8px;
      font-size: 12px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: #fff;
    }
  }

  &__controls-right {
    display: flex;
    align-items: center;
  }

  &__currencies {
    display: flex;
    align-items: center;
  }

  &__currency-item {
    margin-right: 16px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: none;
    color: $gray;

    &:last-child {
      margin-right: 0;
    }
  }

  &__graph {
    margin-left: -24px;
    width: calc(100% + 48px);
    flex-grow: 1;

    @include media-breakpoint-down(xl) {
      margin-left: -12px;
      width: calc(100% + 24px);
    }
  }
}
