mixin chart(data)
  .chart&attributes(attributes)
    .chart__header
      .chart__header-left
        .chart__type= data.type
        h3.mb-0= data.header
      .chart__header-right
        each item in data.changes
          .chart__change
            .chart__change-header= item[0]
            .chart__change-content(class="chart__change-content--" + item[2])= item[1]
    .chart__controls
      .chart__controls-left
        +chart__periods({
          items: data.periods
        })
      .chart__controls-right
        if data.currencies
          .chart__currencies
            each item in data.currencies
              a.chart__currency-item(href="#")= item
    +graph({
      type: data.graph
    }).chart__graph
    
    
    
mixin chart__periods(data)
  .chart__periods&attributes(attributes)
    each item in data.items
      a.chart__periods-item(href="#", class=(item == 'Year' ? 'chart__periods-item--active' : ''))= item