.item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__left {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  &__circle {
    position: relative;
    margin-right: 18px;
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    //    background: linear-gradient(111.12deg, #2a2b39 0%, #14141b 16.45%, #1c1c2d 62.6%);
    background: $dark;
    border-radius: 50%;
  }

  &__icon {
    position: relative;
    width: 44px;
    height: 44px;
    border: 6px solid #2d2e3c;
    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__graph {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 58px;
    height: 58px;
    transform: translate(-50%, -50%);
  }

  &__chart {
  }

  &__content {

    p {
      margin-bottom: 2px;
    }
  }

  &__title {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 600;
    color: $gray;
  }

  &__right {
  }
}
