mixin item(data)
  .item&attributes(attributes)
    .item__left
      .item__circle
        .item__icon
          img(src="./img/item-" + data.type + '.svg', alt)
        +graph({
          class: 'doughnut'
        }).item__graph(data-amount=data.amount)
      .item__content
        p.md= data.type
        .item__title= data.title
    .item__right
      h3.mb-0= data.amount + '%'