extends ../templates/template.pug
block content
  +header
  .wrapper
    .container-fluid.wrapper__container
      +aside({
        active: 0,
        sections: ['home', 'copytrade', 'analytics', 'accounts']
      }).wrapper__aside
      .content.wrapper__content
        h2.mb-25 Exchange accounts
        +board({
          type: 'empty'
        })
        +modal({
          type: 'account'
        }).modal--lg#account
