extends ../templates/template.pug
block content
  +header
  .wrapper
    .container-fluid.wrapper__container
      +aside({
        active: 0,
        sections: ['home', 'copytrade', 'analytics', 'accounts']
      }).wrapper__aside
      .content.wrapper__content
        +alert({
          class: 'info',
          icon: true,
          close: true
        }).alert-info
        +alert({
          class: 'success',
          close: true
        }).alert-success
        +alert({
          class: 'warning',
          icon: true
        }).alert-warning
        +alert({
          class: 'error',
          icon: true,
          close: true
        }).alert-error
          p.md.fw-bold.mb-0 Error
          p.md.mb-0 Access error. Check the correctness of the entered data.
