extends ../templates/template.pug
block content
  +header
  .wrapper
    .container-fluid.wrapper__container
      +aside({
        active: 0,
        sections: ['home', 'copytrade', 'analytics', 'accounts']
      }).wrapper__aside
      .content.wrapper__content
        h2.mb-25 Exchange accounts
        +board({
          type: 'active'
        }).content__item
        .row
          .col-lg-8.col-xl-9.d-flex
            +chart({
              header: '19 560.45 USDT',
              type: 'Short and Long',
              changes: [['Change', '+150.66%', 'up'], ['Plane limit', '-7.33%', 'down']],
              periods: ['Day', 'Week', 'Month', '3 month', '6 month', 'Year'],
              currencies: ['BTC', 'USDT'],
              graph: 'filled'
            }).chart--amount.content__item
          .col-lg-4.col-xl-3.d-flex
            .section.content__item
              .section__header
                h3.mb-0 Portfolio
                a.section__header-link(href="#") View all
              +item({
                type: 'BTC',
                amount: '45',
                title: 'Bitcoin'
              })
              +item({
                type: 'USDT',
                amount: '65',
                title: 'Tether'
              })
              +item({
                type: 'BTC',
                amount: '5',
                title: 'Bitcoin'
              })
              +item({
                type: 'USDT',
                amount: '10',
                title: 'Tether'
              })
        .content__item.mt-15
          .content__section-header
            h3 Connect Accounts
            +filter
          +table({
            type: 'connect'
          }).table--accounts
        .content__footer
          +visible
          +pagination
        +modal({
          type: 'account'
        }).modal--lg#account
