extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          //li(style="list-style: none;")
            a.d-block.my-20(href="strategies.html", style="font-size: 20px;") Strategies
          li(style="list-style: none;")
            a.d-block.my-20(href="alerts.html", style="font-size: 20px;") Alerts
          li(style="list-style: none;")
            a.d-block.my-20(href="accounts.html", style="font-size: 20px;") Accounts
          li(style="list-style: none;")
            a.d-block.my-20(href="exchange.html", style="font-size: 20px;") Exchange
          li(style="list-style: none;")
            a.d-block.my-20(href="settings.html", style="font-size: 20px;") Settings
