extends ../templates/template.pug
block content
  +header
  .wrapper
    .container-fluid.wrapper__container
      +aside({
        sections: ['home', 'copytrade', 'analytics', 'accounts']
      }).wrapper__aside
      .content.wrapper__content
        h2.mb-25 Account Settings
        .row
          .col-lg-8.col-xl-9.d-flex
            form.form.form--gradient.content__item.content__form(action="#", method="POST")
              h3.mb-25 General
              .row
                .col-md-6.col-xl-5.d-flex
                  .form__group
                    .form__group-content
                      .form-label Username
                      p.md.mb-0 Tihonishe
                    .form__group-control
                      a.form__group-btn.form__group-btn--edit(href="#username", data-fancybox)
                .col-md-6.col-xl-5.d-flex
                  .form__group
                    .form__group-content
                      .form-label Language
                      select.form__group-select
                        option(selected) English
                        option Chinese
                        option French
                .col-md-6.col-xl-5.d-flex
                  .form__group.form__group--inactive
                    .form__group-content
                      .form-label E-mail
                      input.input.form-control.form__group-input(type="email", placeholder="sample@sample.com")
          .col-lg-4.col-xl-3.d-flex
            .section.section--lg.content__item
              .section__header
                h3.mb-15 Security
              .mb-25
                p.sm.text-grey.mb-10 Two-factor authentication
                a.btn.btn-primary(href="#account", data-fancybox) Add account
              div
                p.sm.text-grey.mb-10 Password
                a.btn.btn-outline-primary(href="#password", data-fancybox) Change Password
        .content__item.mt-15
          .content__section-header
            h3 Session
          +table({
            type: 'session'
          }).table--session
        +modal({
          type: 'account'
        }).modal--lg#account
        +modal({
          type: 'username'
        }).modal--sm#username
        +modal({
          type: 'password'
        }).modal--sm#password
