extends ../templates/template.pug
block content
  +header
  .wrapper
    .container-fluid.wrapper__container
      +aside({
        active: 0,
        sections: ['home', 'copytrade', 'analytics', 'accounts']
      }).wrapper__aside
      .content.wrapper__content
        h2.mb-10 Strategies
        h3.text-gray.mb-20 Top Strategies
        .row
          .col-xl-6
            +strategy({
              title: 'Bybit signals BTC - ETH - USDT',
              profit: '+ 75.84%',
              graph: 'strategy-up',
              rating: '10.0'
            }).strategy--up
          .col-xl-6
            +strategy({
              title: 'DaddySam - SamOnTrading',
              profit: '- 21.84%',
              graph: 'strategy-up',
              rating: '2.0'
            }).strategy--down
        
