.object {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    img {
      display: block;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: #d4d9e0;
  }
}
