.aside {
  position: sticky;
  top: 0;
  padding: 24px 0;
  display: flex;
  width: 104px;
  height: calc(100vh - 86px);
  flex-direction: column;
  justify-content: space-between;
  background: #18181e;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    padding: 16px;
    overflow: auto;
    width: calc(100% - 24px);
    height: auto;
    flex-direction: row;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }
  }

  &__bottom {

    .section-btn {

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
