mixin aside(data)
  .aside&attributes(attributes)
    .aside__top
      each section, index in data.sections
        +section-btn({
          item: section
        })(class=(index == data.active ? 'section-btn--active' : ''))
    .aside__bottom
      +section-btn({
        item: 'support'
      })
