mixin rate(data)
  .rate&attributes(attributes)
    .rate__graph
      +graph({
        type: data.type
      }).rate__graph-content
    .rate__content
      +currency({
        icon: data.icon,
        title: data.title
      }).currency--sm
      .rate__content-bottom
        .rate__amount= data.amount
        .rate__change(class="rate__change--" + data.type)= data.change
