.rate {
  display: flex;
  align-items: center;

  &__graph {
    margin-right: 16px;
    width: 100px;
    height: 30px;

    @include media-breakpoint-down(lg) {
      margin-right: 8px;
    }
  }

  &__graph-content {
    height: 100%;
  }

  &__content {
    flex-shrink: 0;
  }

  &__content-bottom {
    display: flex;
    align-items: center;
  }

  &__amount {
    margin-right: 12px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 600;
    color: #fff;
  }

  &__change {
    padding: 2px 2px 1px;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    border-radius: 2px;

    &--up {
      background: $secondary;
    }

    &--down {
      background: $tertiary;
    }
  }
}
