.filter {

  &__btn {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    color: #d4d9e0;
    border: 1px solid $gray;
    border-radius: 8px;

    @include transition;

    &:before {
      margin-right: 8px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      text-decoration: none;
      content: '';
      background: url(../img/icon-filter.svg) no-repeat center;
      background-size: contain;
    }
  }
}
