.wrapper {
  padding-top: 70px;
  flex-grow: 1;

  &__container {
    padding-bottom: 16px;
    display: flex;

    @include media-breakpoint-down(sm) {
      display: block;
      height: auto;
    }
  }

  &__aside {
    position: fixed;
    top: 70px;
    left: 24px;

    @include media-breakpoint-down(sm) {
      left: 12px;
    }
  }

  &__content {
    padding: 38px 0 16px 128px;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(xl) {
      padding-top: 16px;
    }

    @include media-breakpoint-down(lg) {
      padding-left: 140px;
    }

    @include media-breakpoint-down(sm) {
      padding: 64px 0 16px;
    }
  }
}
