.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 18px 0;
  width: 100%;
  background: $dark;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    padding-left: 8px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 40px;
    display: block;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }
  }

  &__rate {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__user {
    margin-left: 22px;
    flex-shrink: 0;
  }

  &__user-btn {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background: #616161;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }
}
