mixin header(data)
  .header&attributes(attributes)
    .container-fluid
      .header__wrapper
        .header__left
          +logo.header__logo
          +rate({
            type: 'down',
            icon: 'btc',
            title: 'BTC',
            amount: '19 560 USDT',
            change: '-8% 7d'
          }).header__rate
        .header__right
          +rate({
            type: 'up',
            title: 'Balance KONDR',
            amount: '19 560 USD',
            change: '+28% 7d'
          }).header__rate
          .header__user
            a.header__user-btn(href="#") Dg
