.content {

  &__item {
    margin-bottom: 24px;
  }

  &__section-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 500;
      color: $gray;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__form {
    padding: 32px 110px 16px 32px;
    width: 100%;
    border-radius: 8px;

    @include media-breakpoint-down(xl) {
      padding: 10px 12px;
    }
  }
}
