.form {

  &__item {
    position: relative;
    margin-bottom: 24px;

    .form-label {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      color: #d4d9e0;
    }

    &--hiding {

      .input {
        padding-right: 40px;
      }
    }
  }

  &__item-visible {
    position: absolute;
    right: 16px;
    bottom: 12px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icon-eye.svg) no-repeat center;

    &--active {
      background: url(../img/eye-slash.svg) no-repeat center;
    }
  }

  &--gradient {
    background: linear-gradient(111.12deg, #20314f 0%, #14141b 16.45%);
    box-shadow: 0 4px 21px rgba(0, 0, 0, .14);
  }

  &__group {
    margin-bottom: 24px;
    padding: 8px 19px 6px 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 8px;

    .form-label {
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      color: $gray;
    }

    .input {
      padding: 0;
      height: 22px;

      @include placeholder(rgba(#fff, .5));
    }

    &--inactive {
      background: $dark;
      border: 0;
    }
  }

  &__group-content {
    flex-grow: 1;
  }

  &__group-select {
    margin-left: -15px;
    padding-left: 16px;
    width: calc(100% + 16px);
    font-size: 16px;
    color: #fff;
    background: transparent url(../img/icon-arrow-down.svg) no-repeat right -2px top -5px;
    border: 0;
    cursor: pointer;
    appearance: none;

    option {
      background: $dark;
    }

    &:focus {
      border: 0;
      outline: none;
    }
  }

  &__group-control {
  }

  &__group-btn {
    margin-left: 5px;
    display: block;
    width: 16px;
    height: 16px;

    @include transition;

    &:hover {
      opacity: .7;
    }

    &--edit {
      background: url(../img/icon-edit.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__item-comment {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #8d8d8e;
  }
}
