mixin strategy(data)
  .strategy&attributes(attributes)
    h3= data.title
    p.strategy__subheader Short and Long
    .strategy__row
      .strategy__row-left
        +info({
          title: 'Exchange',
          currency: {
            icon: 'binance',
            title: 'Binance'
          }
        })
        +info({
          title: 'Base Currency',
          currency: {
            icon: 'usdt',
            title: 'USDT'
          }
        })
      .strategy__row-right
        +info({
          title: 'Profit',
          content: '+ 75.84%'
        }).info--right
    +graph({
      type: data.graph
    })
    .strategy__row.strategy__row--bottom
      .strategy__row-left
        +info({
          title: 'Risk',
          content: '3.7'
        }).info--sm
        +info({
          title: 'Type',
          currency: 'USDT Perpetual'
        }).info--sm
      .strategy__row-right
        +info({
          title: 'Rating',
          content: data.rating
        }).info--sm(class=(data.rating == '10.0' ? 'info--positive' : 'info--negative'))